aside {
  border-left: 1px solid rgba(185, 202, 211, 0.281);
  display: flex;
  position: sticky;
  height: 100vh;
  flex-direction: column;
  justify-content: baseline;
  overflow-y: auto;
  min-width: 250px;
  @media (max-width: 875px) {
    display: none;
  }
}
