aside {
  border-left: 1px solid rgba(185, 202, 211, 0.281);
  display: flex;
  position: sticky;
  height: 100vh;
  flex-direction: column;
  justify-content: baseline;
  overflow-y: auto;

  .explore {
    padding: 2rem 3rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    margin-left: 2rem;
    border: 1px solid rgba(185, 202, 211, 0.281);
    border-radius: 10px;
    margin-top: 3.5rem;
    text-align: left;
    .explore__user {
      display: flex;
      gap: 2rem;
      align-items: center;
      h2 {
        font-size: 1rem;
      }
      p {
        font-size: 0.9rem;
        letter-spacing: 0.15px;
      }
      .explore__avatar {
        width: 2rem;
      }
      .explore__avatar img {
        max-width: 100%;
      }
    }
  }
}
