.profile-post-container {
  padding: 8px 16px;
  border: 1px solid rgba(185, 202, 211, 0.281);
  border-top: none;
  border-left: none;
  border-right: none;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: rgba(185, 202, 211, 0.085);
  }
  .profile-post__content {
    display: flex;
  }
  .profile-post__avatar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: 8px;
    padding-top: 3px;
    width: 3rem;
    img {
      max-width: 100%;
    }
  }

  .profile-post__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: baseline;
    align-items: baseline;
    .profile-post__username-date {
      margin-left: 0.3rem;
      display: flex;
      gap: 0.3rem;
      span {
        color: rgb(83, 100, 113);
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    h2 {
      font-size: 1rem;
    }
  }
  .profile-post__gutter {
    display: flex;
    position: relative;
    justify-content: end;
    gap: 1rem;
    margin-top: 0.4rem;
    align-items: center;
    align-self: flex-start;
    color: gray;
    svg {
      transform: translateY(6px);
      height: 1.3rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
