.profile-page {
  max-width: 600px;
  width: 100%;
  .profile-page__header {
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(185, 202, 211, 0.281);
  }
  .profile-page__background {
    height: 150px;
    background-color: gray;
  }
  .profile-page__avatar {
    position: relative;
    display: flex;
    img {
      margin-left: 4.5rem;
      position: absolute;
      top: -50%;
      transform: translate(-50%, -50%);
      max-width: 7rem;
      width: 100%;
      border-radius: 100%;
    }
  }
  .profile-page__text-description {
    text-align: left;
    margin-top: 4rem;
    margin-left: 2rem;
    p {
      max-width: 70%;
      font-size: 0.9rem;
    }
  }
}
